<mat-card-header>
  <mat-card-title>Sign Up!</mat-card-title>
</mat-card-header>
<mat-card-content>
  <form class="registration-card__form">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="userData.Username"
        placeholder="Username"
        autocomplete="username"
        type="text"
        name="Username"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="userData.Password"
        placeholder="Password"
        autocomplete="new-password"
        type="password"
        name="Password"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="userData.Email"
        placeholder="Email"
        autocomplete="email"
        type="email"
        name="Email"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="userData.Birth"
        placeholder="Birthday"
        autocomplete="bday"
        type="date"
        name="Birthday"
      />
    </mat-form-field>
  </form>
</mat-card-content>
<mat-card-actions>
  <button
    mat-raised-button
    (click)="registerUser()"
    color="primary"
    type="submit"
  >
    Sign Up
  </button>
</mat-card-actions>
