<mat-card-header>
  <mat-card-title>Update Your Profile</mat-card-title>
</mat-card-header>
<mat-card-content>
  <form class="profile-dialog__form">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="userInput.Username"
        placeholder="Username"
        autocomplete="username"
        type="text"
        name="Username"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="userInput.Password"
        placeholder="Password"
        autocomplete="new-password"
        type="password"
        name="Password"
        minlength="8"
      />
      <mat-hint>Minimum 8 characters</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="userInput.Email"
        placeholder="Email"
        autocomplete="email"
        type="email"
        name="Email"
        value="userData.Email"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="userInput.Birth"
        placeholder="Birthday"
        autocomplete="bday"
        type="date"
        name="Birthday"
      />
    </mat-form-field>
  </form>
</mat-card-content>
<mat-card-actions>
  <button mat-raised-button type="submit" (click)="editUser()" color="primary">
    Submit
  </button>
</mat-card-actions>
